body {
  background-color: #000;
}

#landing-header {
  z-index: 1;/*brings it one layer forward*/
  position: relative;/*to work with z-index*/
  text-align: center;
  padding-top: 40vh;/* 40% of vertical height*/
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none; /*remove bullets*/
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;/* to center the image*/
  background-repeat: no-repeat;
  opacity: 0;/* to make images start faded out*/
  z-index: 0;
  animation: imageAnimation 25s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1476522465286-b5b94c729d2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a00edbc698ee993591c1e01bd20b805&auto=format&fit=crop&w=1998&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1522868891863-f97b8ca4c424?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cef416f729d291fb36863ef3d061738&auto=format&fit=crop&w=1952&q=80);
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1527716283601-40c089a76135?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25bb3d4e4369adcfe6b29f5adebed4f0&auto=format&fit=crop&w=1934&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1482355347028-ff60443f60fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db946fd61ba4437a6628002b23ec4ecb&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1465756600300-8073ffa4337e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4044ca81d577747b54129fc721a5ddb&auto=format&fit=crop&w=2089&q=80);
  animation-delay: 20s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}