
.authorIcon {
    width: 30px;
    height: auto;
}

.thumbnail img{
    width: 100%;
}

.thumbnail:hover img{
    filter: brightness(80%);
}

@media screen and (min-width: 992px) {
    .user-trail-image {
        max-height: 160px;
        Object-fit: cover;
        justify-self: center;
    }
}

.no-top-margin {
    margin-top:0;
}

.index-thumbnails {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#userTrails {
    padding-left: 15px;
    padding-top: 13px;
}

.delete-form{
    display: inline;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1462480803487-a2edfd796460?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf045f3dbee4a5323727911fe0827743&auto=format&fit=crop&w=1950&q=80);
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: grey 0.1em 0.1em 0.1em;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#fullImage{
    cursor: zoom-in;
}

/* Make the image responsive */
.imageContainer img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.grid-item .image-button {
  position: absolute;
  bottom: 1%;
  right: 2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #c6c6c6;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.grid-item:hover .image-button{
    display: block;
}

.grid-item .image-button:hover {
    background-color: #cc3b4e;
  
}

/*display page layout*/
/***************************************************************************/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    height: 100px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid a img {
    transition: all .1s ease-in;
    filter: grayscale(0%);
    Object-fit: cover;
    justify-self: center;
}

.grid a:hover img {
    filter: brightness(80%);
}

.grid img{
    width: 100%;
    height: 80%;
}

.mx-auto {
    margin-left: 0;
    margin-right: 0;
}

.max-w-4xl {
    max-width: 100%;
    padding: 0;
}

.grid .p-6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4%;
}

/*for masonry*/
/******************************************************************/
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }


/* ---- grid ---- */

/* clear fix */
.mason-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
        min-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    .grid-sizer,
    .grid-item {
        width: 33.33%;
        min-width: 300px;
    }
}


.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}



.grid-item img {
    max-width: 98%;
    display: block;
    margin: 4px 0px 4px 0px;
}