
.authorIcon {
    width: 30px;
    height: auto;
}

.thumbnail img{
    width: 100%;
}

.thumbnail:hover img{
    filter: brightness(80%);
}


.no-top-margin {
    margin-top:0;
}

.index-thumbnails {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#userTrails {
    padding-left: 15px;
    padding-top: 13px;
}

.delete-form{
    display: inline;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1462480803487-a2edfd796460?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf045f3dbee4a5323727911fe0827743&auto=format&fit=crop&w=1950&q=80);
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: grey 0.1em 0.1em 0.1em;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#fullImage{
    cursor: zoom-in;
}

/* Make the image responsive */
.imageContainer img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .image-button {
  position: absolute;
  bottom: 6%;
  right: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #c6c6c6;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .image-button:hover {
  background-color: #cc3b4e;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    height: 100px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid a img {
    transition: all .1s ease-in;
    filter: grayscale(0%);
    Object-fit: cover;
    justify-self: center;
}

.grid a:hover img {
    filter: brightness(80%);
}

.grid img{
    width: 100%;
    height: 80%;
}

.mx-auto {
    margin-left: 0;
    margin-right: 0;
}

.max-w-4xl {
    max-width: 100%;
    padding: 0;
}

.grid .p-6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4%;
}